/****************************/
/*    Maxwidth     SECTION    */
/****************************/
/* 1em=16px */
@media (max-width: 75em) {
  html {
    /* 9px/16px=0.5625 */
    font-size: 56%;
  }
}
@media (max-width: 67em) {
  .payment {
    padding: 6rem 0rem;
    font-size: 2rem;
  }
  .sign-up {
    padding: 0.1rem;
    font-weight: 400;
  }
}
@media (max-width: 56em) {
  html {
    /* 8px/16px=0.5 */
    font-size: 50%;
  }
  .logo {
    width: auto;
  }
  .main-nav {
    flex-direction: column;
    font-size: 4rem;
    font-weight: 700;
  }
  .nav-primary {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.87);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* This is not work when open-nav is open */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 2s ease-out;
  }
  /* this code is very important */
  .open-nav .nav-primary {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .open-nav .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .open-nav .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  .btn-menu-close {
    display: block;
  }
  .icon-mobile-nav {
    height: 5rem;
    width: 5rem;
  }
  .first-h1 {
    font-size: 3.5rem;
  }
  .hero-primary {
    margin-top: 5rem;
  }
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .img {
    width: 100rem;
  }
  .footer-heading {
    color: #333;
  }
  .account-links {
    font-size: 1.2rem;
  }
  .meal-span {
    margin: 4rem;
  }
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--2-cols-2 {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .diet-div {
    grid-column: 1/-1;
    justify-self: center;
  }
  .sign-up {
    font-size: 2.5rem;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 43em) {
  .sign-up {
    padding: 0.2rem;
    font-size: 2.5rem;
    font-weight: 400;
  }
  .payment {
    padding: 0;
    padding-top: 5rem;
  }
  .grid--2-cols-cta {
    grid-template-columns: 1fr;
  }
  .grid--5-cols {
    grid-template-columns: repeat(6, 1fr);
  }
  .foot-head,
  .address-col {
    grid-row: 2;
    grid-column: span 3;
  }
  .additional-link {
    grid-column: span 2;
  }
  .grid--2-cols-4 {
    grid-template-columns: 1fr;
    margin-right: 4rem;
  }
  .pricing-plan-starter {
    margin-right: 0;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .first-img:nth-child(2) {
    grid-row: 1;
  }
  .pad-img {
    grid-row: 5;
  }
}
@media (max-width: 28em) {
  .grid--2-cols-5 {
    grid-template-columns: 1fr;
  }
  .ctr-2 {
    height: 42rem;
    grid-row: 1;
  }
  .items-attribute {
    padding: 1.2rem 2rem;
  }
}
@media (max-width: 24em) {
  .link:link {
    font-size: 2rem;
    padding: 1rem;
  }
  .logo {
    width: auto;
  }
  .additional-link {
    font-size: 2rem;
  }
  .footer-heading {
    font-size: 2rem;
  }
  .copyright {
    font-size: 2rem;
  }
  .foot-head {
    padding-right: 5rem;
  }
  .media-logos {
    gap: 2rem;
  }
}
