/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-size: 2rem;
  overflow-x: hidden;
}
.hero {
  max-width: 140rem;
  padding: 0 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
}
.img {
  max-width: 100%;
}
h1 {
  font-size: 5.2rem;
  font-weight: 700;
}
.para {
  font-size: 2.5rem;
  margin-top: 5rem;
}
.hero-link {
  font-size: 2rem;
  margin-top: 9rem;
}
.link:link,
.link:visited {
  color: white;
  background-color: #e67e22;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  font-size: 2.5rem;
}
.link-sec:link,
.link-sec:visited {
  background-color: white;
  color: #555;
  margin-left: 4rem;
}
.link-first:hover,
.link-first:active {
  background-color: #cf711f;
  transition: background-color 0.4s;
}
.link-sec:hover,
.link-sec:active {
  background-color: #fae5d3;
  color: #333;
  transition: background-color 0.4s;
  box-shadow: inset 0 0 0 0.4rem white;
}
.cust {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}
.customer-img {
  height: 7.4rem;
  width: auto;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid white;
}
.customer img:last-child {
  margin-right: 1rem;
}
.customer-description {
  font-size: 2rem;
  font-weight: 300;
}
.value {
  color: #cf711f;
  font-size: 2.5rem;
  font-weight: bold;
  font-weight: 700;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 10rem;
  padding: 0 3rem;
  position: relative;
}
.logo {
  height: 3.5rem;
}
.main-nav {
  list-style: none;
  font-size: 2rem;
  display: flex;
  gap: 3rem;
  font-weight: 400;
}
.main-nav-links:link,
.main-nav-links:visited {
  color: #555;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
  line-height: 2;
}
.main-nav-links:hover,
.main-nav-links:active {
  color: #e67e22;
}
.main-nav-links.nav-1:link,
.main-nav-links.nav-1:visited {
  background-color: #e67e22;
  padding: 1.2rem 1.7rem;
  border-radius: 1rem;
  color: white;
}
.main-nav-links.nav-1:hover,
.main-nav-links.nav-1:active {
  background-color: #cf711f;
}
.sec-1 {
  margin-bottom: 10rem;
  background-color: #fae5d3;
}
.sec-2 {
  background-color: orangered;
}
.section-how {
  font-size: 1.5rem;
  padding: 0 2rem;
  /* background-color: #e67e22; */
}
.subheading {
  color: #cf711f;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
}
.heading-secondary {
  font-size: 2.8rem;
  margin-top: 10rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.heading-tertiary {
  line-height: 1;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.grid-text {
  margin-bottom: 3rem;
}
.para-2 {
  font-size: 2.8rem;
  font-weight: 300;
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  margin-top: 5rem;
  align-items: center;
  column-gap: 5rem;
}
.first-img {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.iphone {
  width: 35%;
}
.step-text {
  font-size: 10rem;
  line-height: 1.6;
  color: #888;
  font-weight: 500;
}

.first-img::before {
  width: 70%;
  padding-bottom: 70%;
  background-color: #fae5d3;
  position: absolute;
  z-index: -1;
}
.first-img::after,
.first-img::before {
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.first-img::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #ffc7b3;
  position: absolute;
  z-index: -1;
}
/***********************/
/*    MEALS SECTION    */
/***********************/
.section-meals {
  font-size: 2rem;
  padding: 9.6rem 0;
}
.meal-img {
  width: 100%;
}
.meal {
  text-align: center;
  color: #e67e22;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3;
}
.meal-text {
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5rem;
}
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 2rem;
}
.meal-span {
  display: inline-block;
  background-color: green;
  color: #000;
  border-radius: 20px;
  padding: 0.2rem 2rem;
  font-weight: 400;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  margin: 2rem 10rem 3rem 11rem;
}
.meal-span-1 {
  background-color: #69db7c;
  margin-left: 5rem;
}
.meal-span-2 {
  background-color: #ffd43b;
  margin-left: 5rem;
}
.meal-span-1,
.meal-span-2 {
  display: inline-block;
  color: #000;
  border-radius: 20px;
  padding: 0.2rem 2rem;
  font-weight: 400;
  line-height: 2rem;
  display: flex;
  justify-content: center;
}
.vegan {
  display: flex;
}
.items-name {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  padding: 2rem 0;
  color: #333;
}
.items-attribute {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  margin-top: 2rem;
  padding: 0rem 0rem 2rem 10rem;
}
span {
  padding-left: 20px;
}
.diet {
  font-size: 4rem;
  font-weight: 500;
  padding: 0 0 3rem 0;
}
.meal-attribute {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 29%);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal-attribute:hover,
.meal-attribute:active {
  transform: translate(0, -1.2rem);
}
.flames {
  color: orangered;
  font-size: 30px;
}

.for-padding {
  padding: 9.6rem;
}

.checkmark {
  color: #e67e22;
  font-size: 5rem;
}
.names {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  list-style: none;
  padding: 1rem;
  font-size: 2.2rem;
}
.see {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2.6rem;
  text-decoration: none;
  color: #e67e22;
  font-weight: 500;
}
/****************************/
/*   TESTIMONIAL SECTION    */
/****************************/
.testimonial-section {
  background-color: #fae5d3;
}
.grid--2-cols-2 {
  display: grid;
  grid-template-columns: 65fr 35fr;
}
.grid--2-cols-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 7rem;
}
.cust-img-2 {
  border-radius: 50%;
  height: 10rem;
}
.cust-review {
  padding-top: 1.5rem;
  color: #555;
  font-size: 2rem;
  line-height: 1.6;
}
.cust-name {
  font-size: 3rem;
  padding-top: 2rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.rev-img img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.rev-img img:hover {
  transform: scale(1.1);
}
/****************************/
/*      PRICING SECTION     */
/****************************/
.pricing-text {
  font-size: 5rem;
  color: #cf711f;
  text-align: center;
}
.pricing-pack {
  padding: 2rem 2rem 8rem 2rem;
}
.grid--2-cols-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 10rem;
  max-width: 120rem;
  margin: 0 auto;
}
.starter-container {
  padding: 4rem;
  border: 0.8rem solid #fae5d3;
  border-radius: 20px;
  width: 80%;
  margin-right: initial;
}
.pricing-plan {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 2rem;
  text-align: center;
}
.pricing-plan strong {
  font-size: 4rem;
  margin-right: 2rem;
}
.meal-specs {
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-top: 6rem;
}
.per-day {
  padding: 0;
}
.checkmark-1 {
  color: #cf711f;
  font-size: 4rem;
}
.per-day {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}
.payment {
  padding-top: 6rem;
  text-align: center;
}
.sign-up {
  font-size: 3rem;
  background-color: #e67e22;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 1.2rem;
  border-radius: 15px;
}
.sign-up:hover {
  background-color: #cf711f;
}
.costly-plan {
  padding: 4.8rem;
  background-color: #fae5d3;
  border-radius: 20px;
  width: 80%;
  position: relative;
  overflow: hidden;
}
.costly-plan::before {
  content: "best value";
  text-transform: uppercase;
  background-color: #e67e22;
  font-size: 2.6rem;
  color: white;
  padding: 0.5rem 7.8rem;
  border-radius: 10px;
  position: absolute;
  transform: rotate(45deg);
  top: 16.8px;
  left: 256px;
}
/****************************/
/*   Featured SECTION    */
/****************************/
.feature {
  padding: 4rem;
}
.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin-bottom: 10rem;
}
.feature-icon {
  font-size: 5rem;
  color: #e67e22;
  background-color: #fae5d3;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
}
.feature-head {
  font-size: 3.2rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.feature-txt {
  font-size: 2rem;
  line-height: 1.4;
}
/****************************/
/*   CTR   SECTION    */
/****************************/

.grid--2-cols-5 {
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* font-size: 5rem; */
  height: auto;
  box-shadow: 0 0 1.5rem rgb(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eea564, #e67e22);
  color: #2e1907;
  margin-bottom: 10rem;
}

.ctr-1 {
  padding: 5rem;
}
.ctr-2 {
  background-image: linear-gradient(#f3bf912d, #e98b3817),
    url(./content/img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.heading-secondary-1 {
  font-size: 3.2rem;
  color: #333;
  line-height: 1.2;
  margin-bottom: 4rem;
  text-align: center;
}
.ctr-text {
  font-size: 2rem;
  line-height: 1.6;
}
.cta-form {
  margin-top: 5rem;
  font-size: 2rem;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  background-color: #2e1907;
  border-radius: 5px;
  text-align: center;
  margin: 1.5rem;
  display: block;
  margin-left: initial;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: white;
  color: #2e1907;
}

.grid--2-cols-cta {
  display: grid;
  grid-template-columns: 55fr 45fr;
  row-gap: 5rem;
  margin-top: 10rem;
}
.ctr-1 label {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}
.ctr-1 input {
  padding: 0.7rem 2rem;
  font-family: inherit;
}
.ctr-1 select {
  padding: 0.7rem 2rem;
}
.recommend {
  margin-bottom: 1rem;
}

/****************************/
/*    FOOTER     SECTION    */
/****************************/
.grid--5-cols {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 2rem;
}
.foot-head {
  /* This is for vertically end the last paragraph */
  display: flex;
  flex-direction: column;
}
.social-id {
  color: #cf711f;
  font-size: 4rem;
}
.media-logos {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
}
.copyright {
  font-size: 2.6rem;
  /* This is for vertically end the last paragraph */
  margin-top: auto;
}
.footer-heading {
  font-size: 3.2rem;
  color: #333;
  margin-bottom: 3rem;
}
.account-links {
  list-style: none;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer {
  padding: 3.2rem;
}
/****************************/
/*    MEDIA    SECTION    */
/****************************/
.btn-menu-close {
  display: none;
  cursor: pointer;
}
